body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: #f9f9f9;
  /* https://www.tutorialspoint.com/html/html_fonts_ref.htm */
}

body, h1 {
  margin: 0;
}

section {
  height:200px;   /* default 200px */
  margin: 0;
}

.titleSection, .footerSection {
  height: 100px;
  background-color: #B20000;
  color: #f9f9f9;
}
.footerSection {
  height: 35px;
}

.first-env {
  height: 700px;
  width: 100%;
  display: inline-block;
}

.last-env {
  height: 400px;
  width: 100%;
  display: inline-block;

}

.content, .parameters, .env, .chart-container, .footer{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 800px;
}

.parameters, .env, .footer {
  text-align: center;
  width: 100%;
  position: relative;
}
.frame-env {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.title {
  position: relative;
  top: 50%;
  left: 30%;
  transform: translate(-50%,-50%);
  width: 500px;
}

.links {
  width: 95%;
  text-align: right;
}

a {
  text-decoration: none;
  color: #f9f9f9;
  margin-right: 20px;
}

a:hover {
  font-weight: bold;
}

/* css that affects the inner divs to the parameters*/
.weight, .units, .gender, .genderBtns {
  display: inline-block;
}
.weight, .arrival, .departure {
  margin-bottom: 7px;
}


.timer {
  text-align: center;
  position: absolute;
  margin-left: 20px;

}
.chart-container {
  position: absolute;
}
.enviFrame {
  display: block;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

canvas {
  background-color: white;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(178, 0, 0, 0), rgba(178, 0, 0, 0.75), rgba(178, 0, 0, 0));
  width: 80%;
}

#wikiLink {
  color: black;
  margin: 0;
}
#wikiLink:hover {
  text-shadow: .5px .5px;
}
iframe {
  border: none;
}



#gender-weight {
  margin-left: 3px;
  margin-right: 3px;
}
#gender-drinks {
  margin-left: 3px;
  margin-right: 3px;
}
#gender-time {
  margin-left: 3px;
  margin-right: 3px;
}
/* for testing purposes #b70126, b20000*/
.introSection {
  height: 550px;
}
.effectsSection {
  height: 600px;
}
/*
.parameterSection {
  background-color: white;

}
.first-env {
  background-color: white;
}
.last-env {
  background-color: white;
} */
